<!DOCTYPE html>
<html ng-app="RedditClone" ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone App</title>
    <link rel="stylesheet" href="/styles/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body ng-controller="HomeController">
    <nav>
      <ul>
        <li ng-click="action.home()"><i class="fa fa-optin-monster"></i></li>
        <li ng-click="action.home()">home</li>
        <li class="bar">|</li>
        <li ng-click="action.showPostForm()">post</li>
        <li class="bar">|</li>
        <li ng-click="action.showSearch()">search</li>
      </ul>
    </nav>
<!-- rows="8" cols="40" -->
    <!-- Create Post -->
    <article id="createPost">
      <form id="createPostForm" ng-show="posts.makePost">
        <label for="username">UserName</label>
        <input type="text" placeholder="@doge" ng-model="postBody.username"/>
      <br>
        <label for="image">Image</label>
        <input type="text" placeholder="image.url">
      <br>
        <textarea ng-model="postBody.body"></textarea>
      <br>
        <button id="post" ng-click="action.createPost(postBody)">post!</button>
      </form>
    </article>

    <main>
<!-- view all posts -->
      <article id="posts" ng-show="posts.makePost === false">

        <section class="search" ng-show="posts.searching===true">
          <h3>Search: </h3><input type="text" placeholder="words and words" ng-model="search.searchWord">
          <hr>
        </section>
    <!-- orderBy select -->
        <section class="orderBy">
          <h3>Order By:</h3>
          <select ng-model="sort">
            <option value="-votes.total">total</option>
            <option value="-post.votes.upVote">up votes</option>
            <option value="-post.votes.downVote">down votes</option>
            <option value="-date">date</option>
          </select>
          <hr>
        </section>
      <br>
      <!-- build single post -->
          <section id="individual-post" ng-repeat="post in posts.postArray | filter:search.searchWord | orderBy: '-votes.total'" ng-hide="posts.showOnePost">
            <img ng-click="action.showOnePost(post)" ng-src="{{ post.image }}" alt="image" />
            <div class="individual-post">
              <ul>
                <!-- <li><i class="fa fa-diamond"></i></li> -->
                <li><h3>{{ post.username }}</h3></li>
                <li><i class="fa fa-thumbs-up" ng-click="action.upVote(post)"></i></li>
                <li><i class="fa fa-thumbs-down" ng-click="action.downVote(post)"></i></li>
                <li><h3>{{post.votes.total}}</h3></li>
                <li><button class="deletePost" ng-click="action.deletePost(post)">delete</button></li>
              </ul>

              <p ng-click="action.showOnePost(post)">{{ post.body }}</p>
            </div>
        <br>

        </section>

  <!-- view single post -->
      <article class="showOnePost" ng-show="posts.showOnePost">
        <section id="individual-post">
          <img ng-src="{{ posts.singlePost.image }}" alt="image" />
          <div class="individual-post">
            <ul>
              <li>{{ posts.singlePost.username }}</li>
              <li><i class="fa fa-thumbs-up" ng-click="action.upVote(post)"></i></li>
              <li><i class="fa fa-thumbs-down" ng-click="action.downVote(post)"></i></li>
              <li><button class="deletePost" ng-click="action.deletePost(post)">delete</button></li>
              <li><button class="editPost" ng-click="action.editPost(post)">edit</button></li>
            </ul>

            <p>{{ posts.singlePost.body }}</p>
          </div>
        </section>

      <hr>
      <!-- comment section -->
        <section class="comment">
          <h3>Comment &nbsp<i class="fa fa-pencil" ng-click="action.showComment()"></i></h3>

          <div class="comments" ng-repeat="comment in posts.singlePost.comments">
            <h5>{{ comment.name }}</h5>
            <p>
              {{ comment.body }}
            </p>
          </div>

          <form class="commentForm" ng-show="posts.commenting">
            <input type="text" placeholder="yourName" ng-model="commentBody.name">
          <br><br>
            <textarea ng-model="commentBody.body"></textarea>
          <br>
            <button id="addComment" ng-click="action.addComment(posts.singlePost.id, commentBody)"></button>
          </form>
        </section>
      </article>

    </article>
    </main>


    <script type="text/javascript" src = 'https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
    <script type="text/javascript" src="./app.js"></script>
    <!-- need time and messages --> <script type="text/javascript" src=""></script>
  </body>
</html>
