<!DOCTYPE html>
<html ng-app="RedditClone" ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone App</title>
    <link rel="stylesheet" href="/styles/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body ng-controller="HomeController">
    <nav>
      <ul>
        <li ng-click="action.hidePostForm()">home</li>
        <li ng-click="action.showPostForm()">post</li>
        <li ng-click="action.showSearch()">search</li>
      </ul>
    </nav>

    <main>
<!-- Create Post -->
      <article class="createPost">
        <form class="createPostForm" ng-show="posts.makePost">
          <label for="username">UserName</label>
          <input type="text" placeholder="@doge" ng-model="postBody.username">
          <br>
          <label for="body"></label>
          <textarea id='body' rows="8" cols="40" ng-model="postBody.body">Say some stuff</textarea>
          <br>
          <button type="submit" ng-click="action.createPost(postBody)">post!</button>
        </form>
      </article>
<!-- view all posts -->
      <article id="posts" ng-show="posts.makePost === false">

        <section class="search" ng-show="posts.searching===true">
          <h3>Search: </h3><input type="text" placeholder="words and words" ng-model="searchWord">
          <hr>
        </section>
    <!-- orderBy select -->
        <section class="orderBy">
          <h3>Order By:</h3>
          <select ng-model="sort">
            <option value="post.votes.upVote">up votes</option>
            <option value="post.votes.downVote">down votes</option>
            <option value="date">date</option>
          </select>
        </section>
      <br>
      <!-- single post -->
          <section id="individual-post" ng-repeat="post in posts.postArray | orderBy: sort">
            <div class="individual-post">
              <ul>
                <li>{{ post.username }}</li>
                <li><i class="fa fa-thumbs-up" ng-click="action.upVote(post)"></i></li>
                <li><i class="fa fa-thumbs-down" ng-click="action.downVote(post)"></i></li>
                <li><button class="deletePost" ng-click="action.deletePost(post)">delete</button></li>
                <li><button class="editPost" ng-click="action.editPost(post)">edit</button></li>
              </ul>

              <p>{{ post.body }}</p>
            </div>
        <br>

        </section>

      </article>
    </main>



    <script type="text/javascript" src = 'https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js'></script>
    <script type="text/javascript" src="./app.js"></script>
    <!-- need time and messages --> <script type="text/javascript" src=""></script>
  </body>
</html>
