body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  padding: 0; }

nav {
  width: 100%;
  height: 20vh;
  background-color: rgba(17, 101, 97, 0.84);
  display: flex;
  margin-bottom: 2rem; }

main {
  display: flex;
  width: 100%; }

ul {
  font-size: 2rem;
  display: flex;
  list-style: none;
  margin: auto;
  width: 80%; }

li {
  margin: auto;
  text-decoration: none;
  color: white;
  cursor: pointer; }

#posts {
  display: flex;
  width: 100%;
  flex-flow: column; }

.search, .orderBy {
  text-align: center;
  width: 60%;
  margin: auto; }

.search input {
  text-align: center;
  width: 50%;
  margin: auto; }

#individual-post {
  width: 60%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex; }

.individual-post {
  display: flex;
  flex-flow: column;
  width: 60%;
  margin: auto; }

.individual-post p {
  width: 80%;
  margin: auto;
  font-size: .6rem; }

.individual-post ul, .individual-post li {
  font-size: .8rem;
  color: black;
  list-style: none;
  display: inline-block;
  margin: auto; }

.individual-post ul {
  width: 50%;
  padding-left: 0;
  margin-left: auto;
  margin-bottom: .5rem; }

i {
  cursor: pointer;
  margin-right: .5rem; }

.deletePost, .editPost {
  color: white; }

.deletePost {
  background-color: #e81616; }

.editPost {
  background-color: rgba(17, 101, 97, 0.84); }
