body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-family: 'Arial';
  padding: 0; }

nav {
  width: 100%;
  height: 12vh;
  background-color: #2f2f2f;
  display: flex;
  margin-bottom: 2rem; }

main {
  display: flex;
  width: 100%; }

ul {
  font-size: 2rem;
  display: flex;
  list-style: none;
  margin: auto;
  width: 80%; }

nav ul li {
  margin: auto;
  text-decoration: none;
  color: white;
  cursor: pointer; }

.fa.fa-optin-monster {
  font-size: 3rem; }

.bar {
  font-size: 2rem; }

#posts {
  display: flex;
  width: 100%;
  flex-flow: column; }

.search, .orderBy {
  text-align: center;
  width: 60%;
  margin: auto; }

.search input {
  text-align: center;
  width: 50%;
  margin: auto; }

#individual-post {
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex; }

#individual-post img {
  width: 40%;
  margin: auto;
  height: 80%;
  cursor: pointer; }

.individual-post {
  display: flex;
  flex-flow: column;
  width: 55%;
  margin: auto; }

.individual-post p {
  width: 80%;
  margin: auto;
  font-size: .8rem;
  cursor: pointer; }

.individual-post ul, .individual-post li {
  font-size: .8rem;
  color: black;
  list-style: none;
  display: inline-block;
  margin: auto; }

.individual-post ul {
  width: 80%;
  padding-left: 0;
  margin-left: auto;
  margin-bottom: .5rem; }

.fa-thumbs-up {
  color: rgba(17, 101, 97, 0.84); }

.fa-thumbs-down {
  color: #ebbc30; }

i {
  cursor: pointer;
  margin-right: .5rem; }

.deletePost, .editPost {
  color: white; }

.deletePost {
  background-color: #981b1b; }

.editPost {
  background-color: rgba(17, 101, 97, 0.84); }

#createPost * {
  width: 70%;
  margin: auto;
  display: flex;
  flex-flow: column;
  text-align: center; }

#post {
  background-color: green;
  color: white;
  font-size: 2rem;
  width: 17%; }

textarea {
  height: 10rem; }
