<form name="createPost" ng-submit="addPost(postBody)" novalidate>
  <div class="row">
    <label for="username">UserName</label><input class="eight columns" type="text" placeholder="@doge" ng-model="postBody.username" value="postBody.username" required/>
  </div>
  <div class="row">
    <label for="image">Image</label><input class="eight columns" type="text" placeholder="image url" ng-model="postBody.image" value="postBody.image" required>
  </div>
  <div class="row">
    <label for="body">Post</label><textarea id="body" class="eight columns" ng-model="postBody.postBody" value="postBody.postBody" required></textarea>
  </div>
  <div class="container">
    <button id="post" type="submit"><i class="fa fa-pencil">Create Post</i></button>
  </div>
</form>
