<img ng-src="{{ post.image }}" alt="image" />
<div class="individual-post">
  <ul>
    <!-- <li><i class="fa fa-diamond"></i></li> -->
    <li><h3>{{ post.username }}</h3></li>
    <li><i class="fa fa-thumbs-up" ng-click="action.upVote(post)"></i></li>
    <li><i class="fa fa-thumbs-down" ng-click="action.downVote(post)"></i></li>
    <li><h3>{{post.votes.total}}</h3></li>
    <li><button class="deletePost" ng-click="action.deletePost(post)">delete</button></li>
  </ul>

  <p ng-click="action.showOnePost(post)">{{ post.body }}</p>
</div>
<br>
