// @import "bourbon";
// @import "neat";
// @import "bitters/base";
// @import "bitters/lists";


$red: #981b1b;
$gold: rgb(235, 188, 48);
$teal: rgba(17, 101, 97, 0.84);
$grey: #2f2f2f;

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-family: 'Arial';
  padding: 0;
  margin: 0;
  background-image: url('./connect.png');
  order: 0;
}
.nav {
  width: 100%;
  height: 12vh;
  background-color: $grey;
  display: flex;
  margin-bottom: 2rem;
}

main {
  display: flex;
  width: 100%;
  order: 1;
}

ul {
  font-size: 2rem;
  display: flex;
  list-style: none;
  margin: auto;
  width: 80%;
}

.nav ul li  {
  margin: auto;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.fa.fa-optin-monster {
  font-size: 3rem;
}

.bar {
  font-size: 2rem;
}

//  start body
#posts {
  display: flex;
  width: 100%;
  flex-flow: column;
}

.comment, .search, .orderBy {
  text-align: center;
  width: 60%;
  margin: auto;
}

.comment textarea{
  width: 80%;
  height: 10rem;
  margin-bottom: 4rem;
}

.search input, .comment input {
  text-align: center;
  width: 50%;
  margin: auto;
}

#individual-post {
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
}

#individual-post img {
  width: 40%;
  margin: auto;
  height: 80%;
  cursor: pointer;
}

.individual-post {
   display: flex;
   flex-flow: column;
   width: 55%;
   margin: auto;
}

.individual-post p {
  width: 80%;
  margin: auto;
  font-size: .8rem;
  cursor: pointer;
}

.individual-post ul, .individual-post li {
  font-size: .8rem;
  color: black;
  list-style: none;
  display: inline-block;
  margin: auto;
}

.individual-post ul {
  width: 80%;
  padding-left: 0;
  margin-left: auto;
  margin-bottom: .5rem;
}

.fa-thumbs-up {
  color: $teal;
}

.fa-thumbs-down {
  color: $gold;
}

i {
  cursor: pointer;
  margin-right: .5rem;
}

.deletePost, .editPost {
  color: white;
}

.deletePost {
  background-color: $red;
}

.editPost {
  background-color: $teal;
}

#createPost * {
  width: 70%;
  margin: auto;
  display: flex;
  flex-flow: column;
  text-align: center;
}

#post, #addComment {
  background-color: green;
  color: white;
  font-size: 1rem;
  width: 20%;
}

textarea {
  height: 10rem;
}

.comments {
  text-align: left;
  border-style: solid 1px black;
}

// node-sass -o styles/css -wr styles/scss
