<div class="signup eight columns">
  <fieldset>
    <legend>
      <h4>{{ title }}</h4>
    </legend>
  </fieldset>
  <form class="register" ng-submit="login()">
    <div class="row">
      <div class="six columns">
        <label for="email">Email</label>
        <input class="u-full-width" type="email" name="email" placeholder="you@mail.com" ng-model="user.email">
      </div>
      <div class="six columns">
        <label for="password">Password</label>
        <input class="u-full-width" type="password" name="password" placeholder="password" ng-model="user.password">
      </div>
    </div>
    <button type="submit" class="button-primary u-full-width">Login</button>
  </form>
</div>
