// @import "bourbon";
// @import "neat";
// @import "bitters/base";
// @import "bitters/lists";

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}
nav {
  width: 100%;
  height: 20vh;
  background-color: rgba(17, 101, 97, 0.84);
  display: flex;
  margin-bottom: 4rem;
}

ul {
  font-size: 3rem;
  display: flex;
  list-style: none;
  margin: auto;
  width: 80%;
}

li  {
  margin: auto;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

main {
  display: flex;
  width: 100%;
}

#posts {
  display: flex;
  width: 100%;
  flex-flow: column;
}

.orderBy {
  text-align: center;
  width: 60%;
  margin: auto;
}

.individual-post {
   display: flex;
   width: 60%;
   margin: auto;
  //  border-bottom: 1px solid;
   margin-bottom: 2rem;
}

.individual-post p {
  width: 80%;
  margin: auto;
  font-size: .6rem;
}

.individual-post>div {
  width: 20%;
  text-align: center;
  display: flex;
  flex-flow: column;
}

.individual-post h5 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.icons {
  display: inline-block;
  width: auto;
  text-align: center;
}

i {
  cursor: pointer;
  margin-right: .5rem;
}
// node-sass -o styles/css -wr styles/scss
